
.ad-banner{
    width:320px;
    margin: 0 auto;
}

.copyRight{
    margin: 0 auto;
}

.logo{
    margin-left: 50px
}

@media only screen and(max-width: 768px){
    .btn:hover{
        display:none;
    }
}

input[type=range]::range-thumb {
    width: 40px;
    height: 40px;
    
  }