
.ad-banner{
    
    margin: 0 auto;
}

.copyRight{
    margin: 0 auto;
}

.logo{
    margin-left: 50px
}

.font{
    font-family: 'Noto Sans KR', sans-serif;
}

.sideAd{
    width: 160px;
    height: 600px;
}

.map{
    width: 1000px;
    height:500px
}



@media only screen and (max-width: 768px) {
    .carousel-indicators {
        width:80%;
        left:40%;
        margin-bottom: -80px !important;

    }

    .carousel-thumbnails .carousel-indicators img {
        width: 100px;
        height: 50px;
    }
    
    .map{
        width: 500px;
        height:500px
    }

    input[type="range"] {
        width: 300px;
        background: transparent;
      }
      /*###################################*/
      /*###########Responsive Range########*/
      /*###################################*/
      /*##############Core Style###########*/
      
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      
      input[type="range"]:focus {
        outline: none;
      }
      
      input[type="range"]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      /*#############Thumb##############*/
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 36px;
        width: 36px;
        background: #555;
        cursor: pointer;
        margin-top: -12px;
      }
      
      input[type="range"]::-moz-range-thumb {
        height: 36px;
        width: 36px;
        background: #555;
        cursor: pointer;
      }
      
      input[type="range"]::-ms-thumb {
        height: 36px;
        width: 36px;
        background: #555;
        cursor: pointer;
      }
      /*#############Track##############*/
      
      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        background: #ccc;
      }
      
      input[type="range"]:active::-webkit-slider-runnable-track {
        background: #d6d6d6;
      }
      
      input[type="range"]::-moz-range-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        background: #ccc;
      }
      
      input[type="range"]::-ms-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      
      input[type="range"]::-ms-fill-lower {
        background: #ccc;
      }
      
      input[type="range"]:focus::-ms-fill-lower {
        background: #ddd;
      }
      
      input[type="range"]::-ms-fill-upper {
        background: #ccc;
      }
      
      input[type="range"]:focus::-ms-fill-upper {
        background: #ddd;
      }

}